{% extends "base.html" %}
{% block title %}
cahi aur tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">{% if form.instance.pk %}Edit Tweet{% else %}Create Tweet{% endif %}</h1>

<h2> {% if form.instance.pk %}Edit Tweet{% else %}Create Tweet{% endif %} </h2>

<form method="post" enctype="multipart/form-data" class="form" >
    {% csrf_token %}
    {{form}}
    <button class="btn btn-warning" type="submit" >Submit</button>
</form>
<a href="{% url "tweet_list" %}">Back to tweet list</a>

{% endblock %}